
@{
    ViewBag.Title = "辦公室自動化系統";
}

<h2>辦公室自動化系統</h2>

<button id="newLeave">新增請假單</button>
<br />
<br />
<button id="newApplyExpense">新增費用申請單</button><br />
<br />
<br />
<button id="newBugIssue">新增BugIssue</button>

@section BodyScripts
{
    <script>
        $("#newLeave").click(function () {
            window.location.href = "/Builder/NewLeave";
        });
        $("#newApplyExpense").click(function () {
            window.location.href = "/Builder/NewApplyExpense";
        });
        $("#newBugIssue").click(function () {
            window.location.href = "/Builder/NewBugIssue";
        });
    </script>
}