
@{
    ViewBag.Title = "Index";
}

<h2>Chain of Responsibility Pattern</h2>
<form name="frmDonate" action="/CoR/handleDonate" method="post">
    <div>
        <label for="LblName">名字/名稱： </label>
        @Html.TextBox("TxtName")
    </div>
    <div>
        <label for="LblDonateType">捐款類型： </label>
        <select id="SelDonateType" name="SelDonateType">
            <option value="個人">個人</option>
            <option value="營利事業">營利事業</option>
            <option value="人民團體">人民團體</option>
            <option value="UNKNOWN">UNKNOWN</option>
        </select>
    </div>
    <div>
        <label for="LblDonateMoney">捐款金額： </label>
        @Html.TextBox("TxtDonateMoney")
    </div>
    <div>
        <label for="Lblextinfo">備註： </label>
        @Html.TextBox("TxtExtInfo")
    </div>
    <br />
    <br />
    <div><input type="Submit" name="Submit" value="執行" /></div>
</form>
<h3>執行結果：</h3>
<div>
    <h4>@MvcHtmlString.Create(Html.Encode(ViewData["ProcssResult"]).Replace("\n", "<br />"))</h4>
</div>