
@{
    ViewBag.Title = "Design Pattern課程範例";
}

<h2>Design Pattern課程範例</h2>
<p>Creational Pattern:</p>
<p><a href="/AbstractFactory">Abstract Factory Pattern</a></p>
<p><a href="/Builder">Builder Pattern</a></p>
<p><a href="/FactoryMethod">Factory Method Pattern</a></p>
<p><a href="/Prototype">Prototype Pattern</a></p>
<p><a href="/Singleton">Singleton Pattern</a></p>
<br />
<p>Structural Pattern:</p>
<p><a href="/Adapter">Adapter Pattern</a></p>
<p><a href="/Bridge">Bridge Pattern</a></p>
<p><a href="/Composite">Composite Pattern</a></p>
<p><a href="/Decorator">Decorator Pattern</a></p>
<p><a href="/Facade">Facade Pattern</a></p>
<p><a href="/Flyweight">Flyweight Pattern</a></p>
<p><a href="/Proxy">Proxy Pattern</a></p>
<br />
<p>Behavioral Pattern:</p>
<p><a href="/Command">Command Pattern</a></p>
<p><a href="/CoR">Chain of Responsibility Pattern</a></p>
<p><a href="/Interpreter">Interpreter Pattern</a></p>
<p><a href="/Mediator">Mediator Pattern</a></p>
<p><a href="/Memento">Memento Pattern</a></p>
<p><a href="/State">State Pattern</a></p>
<p><a href="/Strategy">Strategy Pattern</a></p>
<p><a href="/TemplateMethod">Template Method Pattern</a></p>
<p><a href="/Visitor">Visitor Pattern</a></p>
<br />
