@model hsdc.dpt.Control.DTO.Creational.Builder.OverTime

@{
    ViewBag.Title = "新增加班單";
}

<h2>新增請假單</h2>

@using (Html.BeginForm("SaveOverTime", "Builder", FormMethod.Post, new { id = "frmSave" }))
{
    <table>
        <tr>
            <th>加班編號</th>
            <td>@(Model.OverTimeId == null ? "" : Model.OverTimeId)</td>
        </tr>
        <tr>
            <th>申請人</th>
            <td>@Html.TextBoxFor(m => m.WorkderId)</td>
        </tr>
        <tr>
            <th>申請日期</th>
            <td>@Html.TextBoxFor(m => m.WorkDate)</td>
        </tr>
    </table>
    <br />
    <br />
    <button id="save">儲存</button>
}

@section BodyScripts
{
    <script>
        $("#save").click(function () {
            $("#frmSave").submit();
        });
    </script>
}