@{
    ViewBag.Title = "選擇維護功能";
}

<h2>選擇維護功能</h2>

<p><a href="/FactoryMethod/MaintainCustomer">維護客戶資料</a></p>
<p><a href="/FactoryMethod/MaintainSupplier">維護廠商資料</a></p>
<p><a href="/FactoryMethod/MaintainProduct">維護產品資料</a></p>

