@model hsdc.dpt.Control.DTO.Structual.Proxy.HotelsInfo

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form name="frmGetHotels" action="/ProxyEZTravel/GetHotels" method="post">
    <div>
        @Html.DisplayNameFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.GuestsRooms)
        <select id="GuestsRooms" name="GuestsRooms">
            <option value="二大">二大</option>
            <option value="二大一小">二大一小</option>
            <option value="一大一小">一大一小</option>
        </select>
    </div>
    <br />
    <div><input type="Submit" name="Submit" value="查詢" /></div>
</form>


