@{
    ViewBag.Title = "Select marketplace to show updated orders";
}

<h2>Select marketplace to show updated orders</h2>

<p><a href="/FactoryMethod/ShowUpdatedAmazonOrders">Amazon</a></p>
<p><a href="/FactoryMethod/ShowUpdatedEBayOrders">EBay</a></p>

