@model IEnumerable<hsdc.dpt.Control.DTO.Creational.FactoryMethod.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Order date
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTime)
        </td>
    </tr>
}

</table>
