@model WebMVC.ViewModels.MapFactoryMethod.BingMapViewModel

@{
    ViewBag.Title = "BingMap";

}

<section>
    <div class="container">
        <div class="row">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="row">
        </div>
    </div>
</section>